<!DOCTYPE html>
<html>
  <head> <% include ./partials/head %> </head>
  <body>
    <header> <% include ./partials/header %> </header>
    <div class="section">
    <h2><%= user.displayName %>'s MaintenanceTrack</h2>
    <form class="form-horizontal section-request-form" action="/dash" method="POST">
      <fieldset>
        <legend>Create new request</legend>
        <div class="form-group">
          <div class="form-group">
            <label for="" class="col-lg-2 control-label">Requester</label>
           <div class="col-lg-5">
              <input name="requester" type="text" class="form-control" id="" placeholder="Maintenance Requester">
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-lg-2 control-label">Possession</label>
            <div class="col-lg-5">
              <input name="possession" type="text" class="form-control" id="" placeholder="Name/Type/Identification of Possession">
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-lg-2 control-label">Details</label>
            <div class="col-lg-5">
              <input name="details" type="text" class="form-control" id="" placeholder="Possession Details">
            </div>
          </div>

          <div class="form-group">
          <label for="" class="col-lg-2 control-label">Contact</label>
           <div class="col-lg-5">
              <input name="contact" type="text" class="form-control" id="" placeholder="Contact details">
            </div>
          </div>
        </div>

  
        <div class="form-group">
          <div class="col-lg-5 col-lg-offset-2">
           <button type="reset" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
    </div>
      <% for(var i = 0; i < requests.length; i++){ %>
        <% if(requests[i].userId === user.email){ %>
         <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>Request <%= i + 1 %> </strong></h3>
            </div>
            <div class="panel-body">
              <strong>Requester: </strong><%= requests[i].role %> <br>
              <strong>Staff ID: </strong><%= requests[i].userId %> <br>
              <strong>Object reported: </strong><%= requests[i].request.objectName %> <br>
              <strong>Object details: </strong><%= requests[i].request.requestDetails %> <br>
              <strong>Time of request: </strong><%= new Date(requests[i].request.timeOfRequest) %> <br>
              <strong>Approval status: </strong><%= requests[i].request.isApproved %> <br>
              <strong>Completion status: </strong><%= requests[i].request.isComplete %> <br>
              <strong>Time approved: </strong><%= new Date(requests[i].request.timeApproved) %> <br>
              <strong>Object owner: </strong><%= requests[i].request.requestOwner %> <br>
              <strong>Owner's contact: </strong><%= requests[i].request.requestOwnerContact %> <br>
            </div>
          </div>
          <%  } %>
       <% } %>
    <h6 class="clock"><%= Date(Date.now()) %></h6>
    <footer> <% include ./partials/footer %> </footer>
  </body>
</html>
